from flask import Flask, render_template, request

app = Flask(__name__)


@app.route("/")
def home():
    return render_template("index.html")


@app.route("/calculate", methods=["POST"])
def calculate():
    income = float(request.form["income"])
    expenses = float(request.form["expenses"])

    balance = income - expenses

    return render_template(
        "index.html",
        income=income,
        expenses=expenses,
        balance=balance
    )


if __name__ == "__main__":
    app.run(debug=True)